h1 {
  border: 0.1em black solid;
  background-color: #FFE84D;
}
#Intro {
  border: 0.1em black solid;
  background-color: #FFE84D;
  vertical-align: middle;
  text-align: justify;
  font-size: 30px;
}
#Autres {
  border: 0.1em black solid;
  background-color: #FFE84D;
  vertical-align: middle;
  text-align: center;
}
.Centrage {
  text-align: center;
}
