grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "Nom Nom Nom Nom" "Contenu Contenu Contenu Contenu" "Contenu Contenu Contenu Contenu";
}

.Nom {
  grid-area: Nom;
  background-image: url(nature.jpg);
  text-align: center;
  color: white;
  border: 1px solid black;
  border-radius: 8px;
}

.Contenu {
  grid-area: Contenu;
  background-color: green;
  color: yellow;
  text-align: center;
  vertical-align: middle;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 20px;
}

img {
  border: 1px solid black;
  border-radius: 100%;
}
body {
  width: 100%;
  margin:auto;
}
ul {
  text-align: justify;
}
